/* Add CSS here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  height: 95vh;
}

.container {
  height: 28rem;
  width: 55rem;
  border-radius: 12px;
}

.border {
  border: white solid 0.7rem;
  height: 26.5rem;
  width: 53.5rem;
  align-items: center;
  border-radius: 12px;
  box-shadow: white 0 0 5px;
  display: flex;
}

.plan {
  font-size: 22px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
}

.dollar {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.price {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.desc {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
}

.big-desc {
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.button1,
.button2,
.button3 {
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.wrapper {
  margin: 3.1rem;
}

.button1 {
  background-color: #6cd6cded;
  box-shadow: black 0 0 3px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.button2 {
  background-color: #fdd7e2;
  box-shadow: black 0 0 3px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.button3 {
  background-color: #e1dff4;
  box-shadow: black 0 0 3px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.button1:hover {
  background-color: #eceae1;
}

.button2:hover {
  background-color: #eceae1;
}

.button3:hover {
  background-color: #eceae1;
}
